{% extends '../base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/post_view.css') }}">
{% endblock %}

{% block body %}

    <article class="full">
        <h1>{{ book.name }}
            <a href="{{ path('book_edit',{id:book.id}) }}" class="btn btn-warning">
                Edit <span class="fa fa-plus-circle"></span>
            </a>
        </h1>

        <b>{% if book.status == 1 %}
                Finished
            {% elseif book.status == 0 %}
                Will read
            {% else %}
                In Progress
            {% endif %}
        </b>
        <h2>{{ book.author.name }}</h2>
        <b>{{ book.genre.name }}</b>
        <time>{{ book.year }}</time>
        <div class="row">
            <div class="col-sm-12">
                <div class="article-text">
                    {{ book.description }}
                </div>
            </div>
        </div>
        <div class="content">
        </div>
{#        <div class="source">Source: <a href="{{ path('showPost') }}">News Portal</a></div>#}
    </article>
{% endblock %}
