<header class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="btn btn-primary" href="{{ path('index') }}">
        Library
    </a>
    <nav class="collapse navbar-collapse" id="nav-items">
        <ul class="navbar-nav mr-auto">
            {{ render_esi(url('show_genre')) }}
        </ul>
        <a class="btn btn-info" href="{{ path('new_book') }}">
            Add new book
        </a>
        <a class="btn btn-info" href="{{ path('new_author') }}">
            Add new author
        </a>
        <a class="btn btn-info" href="{{ path('new_genre') }}">
            Add new genre
        </a>
        <a class="btn btn-primary" href="{{ path('book_list') }}">
            Edit your books
        </a>
        {#TODO#}
{#        <form class="form-inline my-2 my-md-0" action="" method="get">#}
{#            <input class="form-control search" type="text" placeholder="Search Book">#}
{#        </form>#}
    </nav>
</header>
