{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}


{% block body %}
        {% for book in genreBooks %}
            <article class="post">
{#                <a href="#" class="genre-link">{{ book.genre.name }}</a>#}
{#                <a href="{{ path('book_view', {id: book.id}) }}"><h4>{{ book.discription }}</h4></a>#}
                <h4>{{ book.id }}</h4>
                <h4>{{ book.name }}</h4>
{#                <time>{{ book.year }}</time>#}
            </article>
        {% endfor %}
    </section>
{% endblock %}