{% extends 'content_base.html.twig' %}

{% block content_body %}
    <a href="{{ path('new') }}" class="btn btn-primary pull-right">
        Add <span class="fa fa-plus-circle"></span>
    </a>
    <h1>All Books</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Genre</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author.name }}</td>
                    <td>{{ book.genre.name }}</td>
                    <td>
                        <a href="{{ path('edit',{id:book.id}) }}" class="btn btn-primary pull-right">
                            Edit <span class="fa fa-plus-circle"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
