{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/post_view.css') }}">
{% endblock %}

{% block body %}
    <a href="{{ path('edit',{id:book.id}) }}" class="btn btn-primary pull-right">
        Edit <span class="fa fa-plus-circle"></span>
    </a>
    <article class="full">
        <h1>{{ book.name }}</h1><b>{% if book.status == 1 %}
                Finished
            {% elseif book.status == 0 %}
                Will read
            {% else %}
                In Progress
            {% endif %}
        </b>
        <h2>{{ book.author.name }}</h2>
        <b>{{ book.genre.name }}</b>
        <time>{{ book.year }}</time>
        <div class="row">
            <div class="col-sm-12">
                <div class="article-text">
                    {{ book.description }}
                </div>
            </div>
        </div>
        <div class="content">
        </div>
{#        <div class="source">Source: <a href="{{ path('showPost') }}">News Portal</a></div>#}
    </article>
{% endblock %}
